.Contenedor-del-layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: hidden;
}

.Contenedor-del-layout > main{
    height: 100%;
    overflow-y: scroll;
}

.Contenedor-del-layout> footer{
    background-color: rgba(10, 1, 36, 0.63);
    padding: 10px;
}

header {
    width: 100%;
    height: 60px;
    background: #3a0138d7;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  
  }
  
  nav{
    text-align: right;
    padding: 30px 50px 0 0;
  }
  
  nav > a{
    color:aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav > a:hover{
    text-decoration:overline;
  }
  header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  



